{% extends "page.twig" %}



{% block body %}


<table class="table">
	<thead>
		<tr>
			{% for header in headers %}
				<th>{{ header }}</th>
			{% endfor %}
		</tr>
	</thead>

	<tbody>
		{% for row in data %}
			<tr>
				{% for value in row %}
					<td>{{ value }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
