{% extends "page.twig" %}



{% block body %}
        <div class="alt-formats">
          <a href="" class="label">JSON</a>
          <a href="" class="label">TTL</a>
          <a href="" class="label">RDF</a>
          <a href="" class="label">XML</a>
        </div>

        <h2>
          Equivalent Symbols
          <small style="display: block; text-indent: 1em;">
            for &ldquo;{{ symbol }}&rdquo;
            {% if canon == symbol %}
              <span class="label label-success">Canonical</span>
            {% endif %}
          </small>
        </h2>


        {% if equiv_symbols|length > 0 %}
          <p>Found {{ equiv_symbols|length }} equivalent symbols &ndash;</p>

          <ul>
            {% for sym in equiv_symbols %}
            <li>
              {{ sym }}
              {% if canon == sym %}
                <span class="label label-success">Canonical</span>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
{% endblock %}
