{% extends "page.twig" %}



{% block body %}


{% if list|length > 0 %}

	<div id="result">
		<ul class="table">
			{% for item in list %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>

{% else %}

	<div id="result">
		<!-- empty result -->
		<ul class="table"></ul>
	</div>

	<p>No items found</p>

{% endif %}


{% endblock %}
