{% extends "page.twig" %}



{% block body %}


{% if list|length > 0 %}
	<div id="result">
		<ul>
			{% for item in list %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
	</div>
{% else %}
	<p>No items found</p>
{% endif %}


{% endblock %}
