
          <div class="pagination">
              {% for i in 1..maxPageNum %}
              <a href="#" class="label page {% if i == currentPage %}current{% endif %}">{{ i }}</a>
              {% endfor %} 
          </div>
