{% extends "page.twig" %}

{% block body %}

        <h2>
          Equivalent Symbols
          <small style="display: block; text-indent: 1em;">
            for &ldquo;{{ symbol }}&rdquo;
            {% if canon == symbol %}
              <span class="label label-success">Canonical</span>
            {% endif %}
          </small>
        </h2>


        {% if equiv_symbols|length > 0 %}
          <p id="equiv_symbols">Found <span id="equiv_symbols_num">{{equiv_symbols|length}}</span> equivalent symbols &ndash;</p>

          <div id="result">
          <ul id="symbols_list">
            {% for sym in equiv_symbols %}
            <li>
              {{sym}}
              {% if canon == sym %}
                <span class="label label-success">Canonical</span>
              {% endif %}
            {% endfor %}
          </ul>
          </div>
        {% endif %}

{% endblock %}
